dashboard-system/shared/skills/devops/automated-product-pipeline/references/n8n-phase1-reddit-scraper.json
{
  "name": "Herzstueck - Phase 1 Deep Scrape",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "hours", "expression": "07,17"}]}
      },
      "id": "cron-trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://oauth.reddit.com/r/{subreddit}/hot.json",
        "sendQuery": true,
        "queryParameters": {"parameters": [{"name": "limit", "value": "50"}]},
        "authentication": "oAuth2",
        "options": {"headers": {"User-Agent": "HerzstuckBot/1.0"}}
      },
      "id": "reddit-hot",
      "name": "Reddit Hot Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 100],
      "credentials": {"oAuth2Api": "reddit-oauth"}
    },
    {
      "parameters": {
        "jsCode": "const subs = ['backen','kochen','essen','Baking','Cooking','HealthyEating','MealPrepSunday','FrugalFood','foodhacks','CopycatRecipes'];\nreturn subs.map(s => ({json: {subreddit: s}}));"
      },
      "id": "subreddit-list",
      "name": "Subreddit List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {"batchSize": 1, "options": {}},
      "id": "reddit-batch",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [640, 300]
    },
    {
      "parameters": {},
      "id": "merge-raw",
      "name": "Merge Raw Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.all()[0]?.json?.data?.children || [];\nconst normalized = posts\n  .filter(p => p.data.ups > 20)\n  .map(p => ({\n    source: 'reddit',\n    subreddit: p.data.subreddit,\n    title: p.data.title,\n    body: p.data.selftext,\n    upvotes: p.data.ups,\n    comments: p.data.num_comments,\n    url: p.data.url,\n    created: new Date(p.data.created_utc * 1000).toISOString(),\n    score: p.data.ups + (p.data.num_comments * 2),\n    keywords: p.data.title.toLowerCase().split(/[^\\wäöüß]+/).filter(w => w.length > 3),\n    category: 'backen'\n  }));\nreturn normalized.map(n => ({json: n}));"
      },
      "id": "normalize-reddit",
      "name": "Normalize Reddit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json);\nreturn [{\n  json: {\n    raw_data: all,\n    total_items: all.length,\n    scan_timestamp: new Date().toISOString(),\n    sources: [...new Set(all.map(i => i.source))]\n  }\n}];"
      },
      "id": "aggregator",
      "name": "Data Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    }
  ],
  "connections": {
    "Cron Trigger": {"main": [[{"node": "Subreddit List", "type": "main", "index": 0}]]},
    "Subreddit List": {"main": [[{"node": "Split in Batches", "type": "main", "index": 0}]]},
    "Split in Batches": {"main": [[{"node": "Reddit Hot Posts", "type": "main", "index": 0}]]},
    "Reddit Hot Posts": {"main": [[{"node": "Normalize Reddit", "type": "main", "index": 0}]]},
    "Normalize Reddit": {"main": [[{"node": "Data Aggregator", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["herzstuck", "scrape"]
}
