dashboard-system/shared/skills/devops/automated-product-pipeline/references/n8n-phase2-analysis-engine.json
{
  "name": "Herzstueck - Phase 2 Analysis Engine",
  "nodes": [
    {
      "parameters": {"workflowId": "__HERZSTUCK_PHASE1_ID__"},
      "id": "phase1-trigger",
      "name": "Execute Phase 1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// LAYER 1: Deduplizierung via BoW Similarity\nconst all = $input.all().map(i => i.json);\nconst raw = all[0]?.raw_data || [];\nfunction bow(text) {\n  const words = (text || '').toLowerCase().split(/[^\\wäöüß]+/).filter(w => w.length > 3);\n  const map = {};\n  for (const w of words) map[w] = (map[w] || 0) + 1;\n  return map;\n}\nfunction cosine(a, b) {\n  const keys = new Set([...Object.keys(a), ...Object.keys(b)]);\n  let dot = 0, na = 0, nb = 0;\n  for (const k of keys) {\n    const va = a[k] || 0, vb = b[k] || 0;\n    dot += va * vb;\n    na += va * va;\n    nb += vb * vb;\n  }\n  return dot / (Math.sqrt(na) * Math.sqrt(nb) || 1);\n}\nconst clusters = [];\nconst used = new Set();\nfor (let i = 0; i < raw.length; i++) {\n  if (used.has(i)) continue;\n  const cluster = [raw[i]];\n  const bowi = bow(raw[i].title + ' ' + raw[i].body);\n  for (let j = i + 1; j < raw.length; j++) {\n    if (used.has(j)) continue;\n    const bowj = bow(raw[j].title + ' ' + raw[j].body);\n    if (cosine(bowi, bowj) > 0.65) {\n      cluster.push(raw[j]);\n      used.add(j);\n    }\n  }\n  clusters.push({\n    items: cluster,\n    title: cluster[0].title,\n    total_upvotes: cluster.reduce((s, c) => s + (c.upvotes || 0), 0),\n    total_comments: cluster.reduce((s, c) => s + (c.comments || 0), 0),\n    sources: [...new Set(cluster.map(c => c.source))],\n    age_hours: Math.max(...cluster.map(c => {\n      const diff = (Date.now() - new Date(c.created).getTime()) / 3600000;\n      return diff;\n    }))\n  });\n  used.add(i);\n}\nreturn [{\n  json: {\n    clusters: clusters.slice(0, 80),\n    cluster_count: clusters.length,\n    dedup_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "dedup",
      "name": "L1 Deduplizierung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// LAYER 2: Engagement Scoring\nconst clusters = $input.all()[0].json.clusters;\nconst scored = clusters.map(c => {\n  const upvotes = c.total_upvotes;\n  const comments = c.total_comments;\n  const crossPlatform = c.sources.length;\n  const age = Math.max(c.age_hours, 1);\n  const score = ((upvotes * 1.0) + (comments * 2.5) + (crossPlatform * 50)) / age;\n  return { ...c, engagement_score: Math.round(score * 100) / 100 };\n}).filter(c => c.engagement_score > 15)\n  .sort((a, b) => b.engagement_score - a.engagement_score)\n  .slice(0, 30);\nreturn [{json: {high_engagement: scored, count: scored.length}}];"
      },
      "id": "engagement",
      "name": "L2 Engagement Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "prompt": "=Du bist ein strikter Business-Analyst fuer die Marke 'Herzstuck'.\n\nAnalysiere diesen Topic-Cluster:\n\nTitel: {{$json.title}}\nUpvotes: {{$json.total_upvotes}}\nKommentare: {{$json.total_comments}}\nQuellen: {{$json.sources.join(', ')}}\nBeispiel-Posts:\n{{$json.items.slice(0,3).map(i => '- ' + i.title).join('\\n')}}\n\nBewerte nach Schema (STRIKT JSON):\n{\n  \"topic_summary\": \"...\",\n  \"question_detected\": true/false,\n  \"answer_quality\": 1-10,\n  \"recurrence\": 1-10,\n  \"product_potential\": 1-10,\n  \"feasibility\": 1-10,\n  \"gap_score\": 1-10,\n  \"monetization_potential\": 1-10,\n  \"product_type\": \"recipe_bundle | guide | checklist | planner | ebook\",\n  \"suggested_title\": \"...\",\n  \"suggested_price\": 7.99,\n  \"estimated_pages\": 35,\n  \"key_topics_to_cover\": [\"...\", \"...\"],\n  \"reasoning\": \"...\"\n}"
      },
      "id": "gap-analysis",
      "name": "L3 Gap Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "// LAYER 4+5: Final Scoring\nconst gaps = $input.all().map(i => i.json);\nconst finals = gaps.map(g => {\n  const engagement = g.engagement_score || 5;\n  const gapScore = g.gap_score || 5;\n  const monetization = g.monetization_potential || 5;\n  const competition = (g.competition_score !== undefined ? g.competition_score : 5);\n  const timing = (g.timing_score !== undefined ? g.timing_score : 5);\n  const total = (engagement * 0.25 + gapScore * 0.30 + monetization * 0.20 + (10 - competition) * 0.15 + timing * 0.10);\n  return { ...g, total_score: Math.round(total * 100) / 100 };\n}).sort((a, b) => b.total_score - a.total_score);\nconst proceed = finals.filter(f => f.total_score > 7.0);\nconst queue = finals.filter(f => f.total_score > 5.0 && f.total_score <= 7.0);\nreturn [{json: {proceed: proceed.slice(0, 3), queue: queue.slice(0, 5), discarded: finals.length - proceed.length - queue.length}}];"
      },
      "id": "final-scoring",
      "name": "L4+5 Final Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "has-proceed", "leftValue": "={{ $json.proceed.length }}", "rightValue": "0", "operator": {"type": "number", "operation": "gt"}}],
          "combinator": "and"
        }
      },
      "id": "has-topics",
      "name": "Has Topics?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1260, 300]
    },
    {
      "parameters": {},
      "id": "phase3-trigger",
      "name": "Trigger Phase 3",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1460, 200]
    }
  ],
  "connections": {
    "Execute Phase 1": {"main": [[{"node": "L1 Deduplizierung", "type": "main", "index": 0}]]},
    "L1 Deduplizierung": {"main": [[{"node": "L2 Engagement Score", "type": "main", "index": 0}]]},
    "L2 Engagement Score": {"main": [[{"node": "L3 Gap Analysis", "type": "main", "index": 0}]]},
    "L3 Gap Analysis": {"main": [[{"node": "L4+5 Final Scoring", "type": "main", "index": 0}]]},
    "L4+5 Final Scoring": {"main": [[{"node": "Has Topics?", "type": "main", "index": 0}]]},
    "Has Topics?": {"main": [[{"node": "Trigger Phase 3", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["herzstuck", "analysis"]
}
